*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    font-family: Arial;
}
.contenedor{
    width: 80%;
    max-width: 700px;
    height: 500px;
    background: #212d40;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    align-items: center;

}
.caja{
    width: 150px;
    height: 100px;
    background: #f79256;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    flex-grow: 1 1 auto; /*Sirve para abarcar todo el ancho del contenedor*/
}
 .dos{
    align-self: stretch;
    height: auto;
}