/*El selector universal (*) significa todos los elementos del html*/
/* * {
    color: red;
} */
h1 {
    color: red;
}
h2, h3 {
    color: orange;
}
/*Selectores descendentes*/
div article p {
    font-size: 20px;
    color: black;
}
p a{
    color: red;
}
.grande {
    font-size: 28px;
}
#rojo{
    font-size: 28px;
}
/*El id nunca trabajarlo cuando es css pero si para javascript. Usar class es lo recomendado cuando estes trabajando css*/