<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, mininum-scale=1.0">    
    <link rel="stylesheet" href="css/estilos.css">
    <title>Layout Basica</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/imgprueba.png" alt="" style="width: 99%;">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil omnis delectus eligendi hic est quidem quaerat totam eaque quae alias cum doloribus labore voluptatibus, soluta natus ex deserunt animi? Fuga!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nam porro! Saepe nam ratione eaque quas non, fugiat nemo similique debitis dolor, necessitatibus molestias cumque, in officia tenetur beatae porro.</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#" id="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#" id="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#" id="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#" id="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#" id="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Informacion</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus saepe rerum cupiditate adipisci obcaecati excepturi tenetur dolor pariatur consequuntur, repudiandae hic cumque quasi numquam eveniet id est. Quo, magnam quos.</p>
            </div>

        </aside>
        <footer>
            <p>Santiago Rodriguez 2020 - Todos los derechos reservados</p>
        </footer>
    </div>
</body>
</html>